
<div class="card border-primary mb-3 animated fadeIn fast">
  <div class="card-header bg-primary  font-weight-bold text-white">Existencias de Productos</div>
  <div class="card-body text-primary">

    <table class="table table-bordered table-striped animated fadeIn">
      <thead class="thead-dark">
        <tr>
          <th>ID Producto</th>
          <th>Nombre Producto</th>
          <th>Detalle Producto</th>
          <th>Cantidad</th>
          <th>Ubicacion</th>
          <th>Creacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <td>{{ producto.productoId }}</td>
          <td>{{ producto.productoNombre }}</td>
          <td>{{ producto.productoDescripcion }}</td>
          <td>{{ producto.productoCantidad }}</td>
          <td>{{ producto.productoUbicacion }}</td>
          <td>{{ producto.creationDate | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
