<!-- <div class="container"> -->

  <div class="card border-primary mb-3 animated fadeIn fast">
    <div class="card-header bg-primary  font-weight-bold text-white">Agregar Nuevos Productos</div>
    <div class="card-body text-primary">

      <form autocomplete="off" (ngSubmit)="guardarProducto(formProducto)" #formProducto="ngForm">
        <div class="form-group col-lg-6">
          <label for="idProducto">Número de Producto</label>
          <input type="text" name="idProducto" class="form-control" id="idProducto" [(ngModel)]="producto.productoId">
          <small class="form-text text-muted">Solo agregar números</small>
        </div>
        <div class="form-group col-lg-6">
          <label for="nomProducto">Nombre de Producto</label>
          <input type="text" name="nomProducto" class="form-control" id="nomProducto" [(ngModel)]="producto.productoNombre">
        </div>
        <div class="form-group col-lg-6">
          <label for="cantProducto">Cantidad de Productos</label>
          <input type="text" name="cantProducto" class="form-control" id="cantProducto" [(ngModel)]="producto.productoCantidad">
        </div>
        <div class="form-group col-lg-6">
          <label for="descProducto">Descripcion</label>
          <textarea name="descProducto" class="form-control"  id="descProducto"cols="30" rows="10" [(ngModel)]="producto.productoDescripcion"></textarea>
        </div>
        <div class="form-group col-lg-6">
          <label for="ubiProducto">Ubicación</label>
          <input type="text" name="ubiProducto" class="form-control" id="ubiProducto" [(ngModel)]="producto.productoUbicacion">
        </div>
        <div class="form-group col-lg-6">
          <label for="fechaProducto">Fecha</label>
          <input type="text" name="fechaProducto" class="form-control" id="fechaProducto" [(ngModel)]="producto.creationDate" value="{{ today }}">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>

    </div>
  </div>

<!-- </div> -->

<!-- productoId: number;
     productoNombre: string;
     productoCantidad: number;
     productoDescripcion: string;
     productoUbicacion: string;
-->
